html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

body {
  background-color: var(--secondary-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --main-color: rgb(252, 115, 82);
  --secondary-color: rgb(39, 49, 53);
  --third-color: rgb(196, 196, 196);
  --fourth-color: rgb(252, 252, 252);
}

::-webkit-scrollbar {
  width: 0px;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

li {
  list-style: none;
}
